<div class="contact">
  <div class="contact-info">
    <h1>Contact Us</h1>
    <h3><i class="fa fa-home" aria-hidden="true"></i>Monday - Friday, 8am to 5pm</h3>
    <h3><i class="fa fa-phone" aria-hidden="true"></i>(619)392-9068</h3>
    <h3><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:lewis@eaglemountaindigital.com">Lewis@EagleMountainDigital.com</a></h3>
  </div>
  <div class="contact-form">
    <%= form_for @message, url: contact_path do |message_form| %>
      <fieldset>
        <div class="info">
          <h3>A little about you:</h3>
          <div class="field">
            <%= message_form.text_field :name, placeholder: "Name", class: 'name' %>
          </div>
          <div class="field">
            <%= message_form.email_field :email, placeholder: "Email", class: 'email' %>
          </div>
          <div class="field">
            <%= message_form.text_area :content, placeholder: "What are you hoping to achieve with your new website?"%>
          </div>
        </div>
        <div class="time">
          <h3>When should we get back to you?</h3>
          <div class="flex">
            <div class="field">
              <%= message_form.select :day_of_week, Message.day_of_weeks.keys %>
            </div>
            <div class="field">
              <%= message_form.select :time_of_day, Message.time_of_days.keys %>
            </div>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <div class="field">
          <%= message_form.submit "Send", class: 'btn btn-primary' %>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>