<div class="features">
    <div class="feature" id="feature-1">
        <div class="feature-image">
            <%= image_tag('seo') %>
        </div>
        <div class="feature-text">
            <h2>SEO on every page</h2>
            <p>Proper code and design matters.  Search engines rank websites 
            coded in industry standard formats higher than poorly coded sites.  
            From headings, to “alt” captions on photos, we’ll do the work behind 
            the scenes to make sure your website is given the best shot at a higher 
            ranking.</p>
        </div>
    </div>
    <div class="feature" id="feature-2">
        <div class="feature-image">
            <%= image_tag('design') %>
        </div>
        <div class="feature-text">
            <h2>Truly custom design</h2>
            <p>We design each of our websites from scratch to meet your unique 
            business’ needs and your customer’s expectations.  We'll never force
            you to choose between a pre-made template that may or may not be a 
            good fit for your vision.</p>
        </div>
    </div>
    <div class="feature" id="feature-3">
        <div class="feature-image">
            <%= image_tag('real_turf_gallery') %>
        </div>
        <div class="feature-text">
            <h2>Dynamic features</h2>
            <p>Dynamic fading and sliding, scrollable and sortable image galleries, and
            other responsive features ensure your prospective customer has a great first
            experience with your company.</p>
        </div>
    </div>
    <div class="feature" id="feature-4">
        <div class="feature-image">
            <%= image_tag('design') %>
        </div>
        <div class="feature-text">
            <h2>Google analytics tracking</h2>
            <p>Data drives decision-making.  With analytics built-in, you'll know
            what pages client's like, how long they stay on your page, and whether
            your online marketing efforts are actually leading people to your site.</p>
        </div>
    </div>
    <div class="feature" id="feature-5">
        <div class="feature-image">
            <%= image_tag('admin_view') %>    
        </div>
        <div class="feature-text">
            <h2>Easily update content</h2>
            <p>We offer custom CRM packages for our client's who need to update their own
            content.  Add and update blog posts, testimonials, special offers, pricing, 
            and gallery images with ease, all without hiring a web management company.</p>
        </div>
    </div>
</div>