<footer>
  <div class="logo">
    <%= image_tag('me_facebook_logo', size: '75x75') %>
    <h3>Eagle<br>Mountain<br>Digital</h3>
  </div>
  <ul class="nav-links">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'About', about_path %></li>
    <li><%= link_to 'Website Packages', packages_path %></li>
    <li><%= link_to 'Website Features', features_path %></li>
    <li><%= link_to 'Blog', blog_path %></li>
    <li><%= link_to 'Contact', contact_path %></li>
  </ul>
</footer>