<header>
  <div class="header-top">
    <div class="logo">
      <%= link_to root_path do %>
        <%= image_tag('em_star_logo_white', size: '50x50', id: 'logo-header') %>
      <% end %>
        <h3 class="eagle-mountain">Eagle Mountain Digital</h3>
    </div>
    <ul class="nav-links">
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Blog', posts_path %></li>
      <li><%= link_to 'Contact', contact_path %></li>
    </ul>
  </div>
  <ul class="header-bottom">
    <li style="flex: 1;"></li>
    <li>
      <%= link_to do %>
        <i class="fa fa-facebook" aria-hidden="true"></i>
      <% end %>
    </li>
    <li><i class="fa fa-phone" aria-hidden="true"></i>(828)338-9847</li>
    <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:lewis@eaglemountaindigital.com">Lewis@EagleMountainDigital.com</a></li>
  </ul>
</header>