<div class="portfolio">
        <div class="projects">
            <div class="project" id="project-1">
                <div class="project-text">
                    <h1>Featured Work:</h1>
                    <div class="project-name">
                        <%= image_tag('general_issue_logo') %>
                        <h2 id="general_issue">General<br> Issue</h2>
                    </div>
                    <p>Curabitur vitae risus posuere, accumsan sem a, tristique diam. 
                    Maecenas lobortis tortor et vestibulum aliquam. Suspendisse erat nisi, 
                    maximus sit amet velit id, tempor hendrerit dolor. Donec hendrerit magna 
                    in efficitur euismod. Nam auctor enim sed porttitor vestibulum. Aliquam ac 
                    sodales arcu. Cras vitae metus tincidunt, laoreet urna id, tristique metus. 
                    Maecenas vitae tristique enim. Proin id purus turpis.</p>
                </div>
                <div class="project-image">
                    <%= image_tag('general_issue_homepage')%>
                </div>
            </div>
            <div class="project" id="project-2">
                <div class="project-text">
                    <h1>Featured Work:</h1>
                    <div class="project-name">
                        <%= image_tag('sunset_landscapes_logo') %>
                        <h2 id="sunset_landscapes">Sunset Landscapes</h2>
                    </div>
                    <p>Curabitur vitae risus posuere, accumsan sem a, tristique diam. 
                    Maecenas lobortis tortor et vestibulum aliquam. Suspendisse erat nisi, 
                    maximus sit amet velit id, tempor hendrerit dolor. Donec hendrerit magna 
                    in efficitur euismod. Nam auctor enim sed porttitor vestibulum. Aliquam ac 
                    sodales arcu. Cras vitae metus tincidunt, laoreet urna id, tristique metus. 
                    Maecenas vitae tristique enim. Proin id purus turpis.</p>
                </div>
                <div class="project-image">
                    <%= image_tag('sunset_landscapes_homepage')%>
                </div>
            </div>
            <div class="project" id="project-3">
                <div class="project-text">
                    <h1>Featured Work:</h1>
                    <div class="project-name">
                        <%= image_tag('real_turf_logo', size: '100x100') %>
                        <h2 id="real_turf">Real<br>Turf</h2>
                    </div>
                    <p>Curabitur vitae risus posuere, accumsan sem a, tristique diam. 
                    Maecenas lobortis tortor et vestibulum aliquam. Suspendisse erat nisi, 
                    maximus sit amet velit id, tempor hendrerit dolor. Donec hendrerit magna 
                    in efficitur euismod. Nam auctor enim sed porttitor vestibulum. Aliquam ac 
                    sodales arcu. Cras vitae metus tincidunt, laoreet urna id, tristique metus. 
                    Maecenas vitae tristique enim. Proin id purus turpis.</p>
                </div>
                <div class="project-image">
                    <%= image_tag('real_turf_homepage')%>
                </div>
            </div>
            <div class="project" id="project-3">
                <div class="project-text">
                    <h1>Featured Work:</h1>
                    <div class="project-name">
                        <div id="blocitoff">
                            <i class="fa fa-check-square" aria-hidden="true"></i><span>Blocitoff</span>
                        </div>
                    </div>
                    <p>Curabitur vitae risus posuere, accumsan sem a, tristique diam. 
                    Maecenas lobortis tortor et vestibulum aliquam. Suspendisse erat nisi, 
                    maximus sit amet velit id, tempor hendrerit dolor. Donec hendrerit magna 
                    in efficitur euismod. Nam auctor enim sed porttitor vestibulum. Aliquam ac 
                    sodales arcu. Cras vitae metus tincidunt, laoreet urna id, tristique metus. 
                    Maecenas vitae tristique enim. Proin id purus turpis.</p>
                </div>
                <div class="project-image">
                    <%= image_tag('blocitoff_homepage')%>
                </div>
            </div>
        </div>
    </div>
</div>