<% content_for :head do %>
    <title>Eagle Mountain Digital | We got your request <%= @message.name %>!</title>
<% end %>
<div class="contact-message">
    <div class="left-margin">
        <%= image_tag('em_star_logo_white.png', size: '100x100') %>
    </div>
    <div class="right-margin">
        <div class="message-header">
            <h1>Eagle Mountain Digital</h1>
            <h2><%= @message.name %>, we got your message, and will reach out to you on:</h2>
            <h3><strong><%= @message.day_of_week %>, between <%= @message.time_of_day %></strong></h3>
            <h2>If you'd like to reach us sooner, try giving us a call at (619)392-9068.  We look forward to discussing your website with you!</h2>
            <h3>You can review your message below:</h3>
        </div>
        <div class="message-content">
            <%= @message.name %> <<%= @message.email %>> wrote:
            <%= @message.content %>
        </div>
        <div class="message-signature">
            <h2>Best, <br>Lew & The Eagle Mountain Team</h2>
        </div>
    </div>
</div>