<div class="blog-index">
  <div class="blog">
    <div class="blog-latest">
      <h1><%= @post.title %></h1>
      <h3>Author: Lew Vine | <%= @post.created_at.strftime("%B %e, %Y") %></h3>
      <div><%= raw(@post.body) %></div>
    </div>
    <div class="blog-list">
      <div class="header">
        <h2>The Eagle Mountain Blog:</h2>
        <p>Answering the most common questions small business owner's ask about the online world and their business</p>
        <% if current_user %>
        <div>
          <%= link_to 'New Post', new_post_path, class: 'btn btn-primary' %>
        </div>
        <% end %>
      </div>
      <h2>You might also be interested in: </h2>
      <% @posts.each do |post| %>
        <%= link_to(post) do %>
          <h3><%= post.title %></h3>
        <% end %>
        <p><%= post.meta_description %></p>
      <% end %>
    </div>
  </div>
</div>